name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npm run build
          start: npm start
          wait-on: 'http://localhost:5173'
      - name: Cypress Component Tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          component: true